:root {
  --def-shadow: 0 0 30px -19px black;
  --minor-gray: rgb(249,249,249)
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--minor-gray);
  margin: 0;
  font-size: 1.25rem;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.3px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes hamburgermenuDrop {
  from {transform: translateY(-100%);}
  to {transform: translateY(0%);}
}

@keyframes hamburgermenuVisibility {
  from {opacity: 0%;backdrop-filter: blur(0px);}
  to {opacity: 100%;backdrop-filter: blur(5px)}
}

.pagecontainer {
  padding-left: 10vw;
  padding-right: 10vw;
  overflow: hidden;
}

@media screen and (max-width:999px) {
  .hero {
    min-height: 100vh;
  }
  .hamburger-menu {
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
  }

  .hamburger-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
  }

  .bigmenu-container {
    position: fixed;
    padding: 7rem 10vw 2rem 10vw;
    min-height: 55vh;
    max-height: 100vh;
    overflow: auto;
    width: 100%;
    z-index: 2;
    background-color: gainsboro;
    border-radius: 0 0 0.6rem 0.6rem;
    box-shadow: 0 18px 100px -35px black;
    animation: hamburgermenuDrop 1s;
  }

  .blurred-back {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.225);
    backdrop-filter: blur(5px);
    animation: hamburgermenuVisibility 0.5s;
  }

  .herovid {
    min-height: 100vh;
  }
  
  .herooverlay {
    min-height: 100vh;
  }

  .herotextcontainer {
    font-size: clamp(10px, 1.8vw, 10ch);
  }

  .navbar-text {
    display:none;
  }

  .twowing-container {
    flex-direction: column;
  }

  .fifty {
    width: 100%;
  }

  }

@media screen and (min-width:1000px) {
  .hero {
    min-height: 25em;
    aspect-ratio: 8/3;
  }

  .herovid {
    min-height: 25em;
    aspect-ratio: 8/3;
  }
  
  .herooverlay {
    min-height: 25em;
    aspect-ratio: 8/3;
  }

  /* .herotextcontainer {
    justify-content: center;
    align-items: center;
    /* bottom: 2em; */

  .rectdata-container {
    width:80%;
  }

  .navbar-text {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .twowing-container {
    flex-direction: row;
  }

  .fifty {
    width: 50%;
  }

  .blurred-back {
    display: none;
  }
  .bigmenu-container {
    display: none;
  }

}

.separator-medium {
  height:4.5em;
}

.separator-semibig {
  height: 6.75em;
}

.separator-big {
  height:8.5em;
}

.margin-small {
  margin-bottom:2.5em;
}

.margin-medium {
  margin-bottom:4.5em;
}

.margin-semibig {
  margin-bottom: 6.75em;
}

.margin-big {
  margin-bottom:8.5em;
}

.navbar-logotype {
aspect-ratio:3/1;
width: min(40vw, 15ch);
/* height: 2em; */

}

.small-logotype {
aspect-ratio:1/1;
width: clamp(30px, 5vw, 7em);
fill: whitesmoke;
margin-left: auto;
margin-right: auto;
}

.navbar {
  width:100vw;
  position: fixed;
  background-color: var(--minor-gray);
  min-height: 2em;
  padding: 0.5em 5vw;
  box-shadow: var(--def-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
  box-sizing: border-box;
  z-index: 2;
  transition: all 0.5s;
}

.navbar-initial {
  margin-top: 1em;
  border-radius: 1rem;
  width:80vw;
  min-height: 2em;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 0.5em 1em;
}

.navbar-text {
  text-transform: uppercase;
  /* display: flex; */
  flex-direction: row;
  gap:1.4em;
  
}



.hero {
  width: 100vw;
  margin-left: -10vw;
  margin-right: -10vw;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 2em 0;
}

.herovid {
  width: 100vw;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  z-index: -1;
  /* min-height: 25em; */
}

.herooverlay {
  position: absolute;
  width: 100vw;
  top:0;
  background-color: rgba(82, 82, 82, 0.88);
  z-index: 0;
  /* min-height: 25em; */
}

.hero2 {
  width: 100vw;
  margin-left: -10vw;
  margin-right: -10vw;
  aspect-ratio: 10/2.5;
  padding: 1.25em 10vw 1.25em 10vw;
  background-color: lightgray;
}

.hero3 {
  width: 100vw;
  margin-left: -10vw;
  margin-right: -10vw;
  aspect-ratio: 10/2.5;
  padding: 1.25em 10vw 1.25em 10vw;
  background-color: gray;
  color: white;
}

.news-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(max(200px,22%), 1fr) );
  min-height:20vh;
  margin-left: auto;
  margin-right: auto;
  gap: 1.5em;
  margin-top:0.67em;
}

.news-item{
  background-color: whitesmoke;
  border-radius: 0.3em;
  padding: 1em;
  display: flex;
  gap:1em;
  box-shadow: var(--def-shadow);
}

.news-image {
  width: 100%;
}

.news-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.news-linker {
  font-weight: bolder;
  text-transform: uppercase;
}

h1.newstitle {
  margin:0
}

.rectdata-container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(max(200px,22%), 1fr) );
  min-height:20vh;
  margin-left: auto;
  margin-right: auto;
  gap: 0.25em;
}

.rectdata {
  aspect-ratio: 2/1.5;
  position: relative;
  z-index: -2;
  padding: 1em 1em;
}

.recticon {
  height: 3em;
  width: 3em;
  position: absolute;
  bottom:0.5em;
  left: 0.5em;
  fill: darkgray;
  z-index: -1;
}

.rectdata-text {
  z-index: 2;
  text-align: center;
}

.accent1 {
  background-color: lightgrey;
}

.accent2 {
  background-color:silver;
}

.coltext1 {
  column-count: 2;
}

.table-comparator {
  border: 1px solid;
  width: 80%;
  margin: 1em 10% 1em 10%;
  text-align: center;
  border-style: hidden;
  transition: all 1s;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(max(100px,22%), 200px) );
  justify-content: center;
  align-self: center;
  gap: 1em;
}


 .table-comparator-cell {
  border-bottom: 3px solid darkgray; 
  padding: 1em;
  position: relative;
}

h2.table-comparator-text {
  color: darkgray;
}

.twowing-container {
  display: flex;
}

.fifty {
  /* width: 50%; */
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.button-download {
  display: inline-block;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  width: min-content;

}

.seventy {
  width: 70%;
}

.thirty {
  width: 30%;
}

.al-right {
  text-align: right;
}

.al-center {
  text-align: center;
}

.al-justify {
  text-align: justify;
}

.centermx {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

h1.accentheader {
  background-color: gainsboro;
  display: inline-block;
  margin-left: -10vw;
  padding-left: 10vw;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  padding-right: 0.25em;
}

button {
  font-size: 1em;
  border-radius: 0.3rem;
  padding: 0.5ch 1ch;
  background-color:gainsboro;
  border: none;
}

.herotitle {
  font-size: 7em;
  color: whitesmoke;
  margin: 0 2vw 0 2vw;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;


}
.herosubtitle {
  font-size: 3.5em;
  color: whitesmoke;
  margin: 0 2vw 0 2vw;
  /* line-height: 0.5; */
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
}

.herotextcontainer {
  z-index: 1;
  overflow:visible;
  width:100vw;
  padding: 0 5% 0 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1.centered {
  text-align: center;
}

p.centered {
  padding: 0 2em 0 2em;
  text-align: justify;
}

form {
}

label {
  display: block;
  margin:0.5em 0;
}

input {
  display: block;
  margin:0.5em 0;
  font-size: 1em;
  width: 50%;
  border-radius: 0.3rem;
  border: none;
}

textarea {
  width: 75% !important;
  resize: none;
  margin:0.5em 0 !important;
  display: block;
  min-height: 20ch;
  border-radius: 0.3rem;
  border: none;
}

.sendbutton {
  margin:0.5em 0;
}

.gap {
  gap:3em;
}

p {
  line-height: 1.5;
  text-align: justify;
}

.icon {
  width: 0.8em;
  height: 0.7em;
  margin: 0 0.5em 0 0;
}

.fill {
  fill: white;
}

.iconbig {
  width: 2em;
  height: 2em;
  margin: 0.5em;
}